@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* All letters */
footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:sender"],
[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}
/* End all letters */

/* Poems */
[epub|type~="z3998:poem"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}
/* End poems */

/* Tables */
table{
	margin: 1em auto;
}

table td:last-child{
	font-variant-numeric: tabular-nums;
	text-align: right;
	white-space: nowrap;
}

table tfoot td:last-child{
	border-top: 1px solid;
}
/* End tables */

#moll-flanders{
	margin-top: 20vh;
}

#moll-flanders > p:last-child{
	font-variant: small-caps;
	margin-top: 1em;
	text-align: center;
	text-indent: 0;
}
